.message_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}
.input_message_name{
  width: 450px;
  height: 30px;
  resize: none;
  border-radius: 5px;
}
.input_message_text{
  width: 450px;
  height: 80px;
  resize: none; 
  border-radius: 5px;
}
.message_add_btn{
  margin: 10px;
  width: 140px;
  height: 40px;
  background: rgb(206, 214, 237);
  border-radius: 20px;
}
.input_message_number{
  border-radius: 5px;
}
h3{
  margin: 5px;
  font-size: 1rem;
}