.message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 20px;
  border-bottom: 1px solid black;
  background: rgb(206, 214, 237);
}
.message_name{
  text-align: center;
  margin: 5px;
  font-size: 1rem;
  font-family: sans-serif;
}
.message_text,.message_number,message_sity{
  margin: 5px;
  font-size: .85rem;
}
.message_delete{
  margin: 10px;
  width: 140px;
  height: 40px;
  background: white;
  border-radius: 20px;
}